{% extends 'first_page.html' %}
{% load static %}
{% block content %}
<div class="clearfix"></div>
    <div class="page_title">
      <div class="container">
        <div class="title">
          <h3>Команда проекту "Розумне місто"</h3></div>

      </div>
    </div>
    <!-- end page title -->
    <div class="clearfix"></div>
    <div class="content_fullwidth less">
      <div class="features_sec64">
        <div class="container">

          <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/zhenya-min.jpg'%}" alt="">
                <h5><strong>Євгенія Поремчук</strong></h5> Керівник проекту "Розумне місто"
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Євгенія Поремчук</strong></h5>
                <p>Керівник проекту "Розумне місто", тренер <a href="http://www.iri.org/">"IRI"</a> по е-врядуванню</p>
                <div class="fsoci">
                  <a href="https://www.facebook.com/jenya.poremchuk"><i class="fa fa-facebook"></i></a>
{#                  <a href="https://medium.com/@e_poremchuk" target="_blank"><i class="fa fa-medium"></i> </a>#}
                </div>
{#                <a href="#" class="but_small5 light"><i class="fa fa-paper-plane"></i>&nbsp; Read more</a>#}
              </div>
            </div>
          </div>
          <!-- end section -->
          <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/slava1-min.jpg'%}" alt="">
                <h5><strong>Святослав Жлуктенко</strong></h5> менеджер проекту, аналітик
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Святослав Жлуктенко</strong></h5>
                <p>менеджер проекту, аналітик</p>
              </div>
            </div>
          </div>
          <!-- end section -->
          <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/yura1-min.jpg'%}" alt="">
                <h5><strong>Юрій Олійник</strong></h5>менеджер проекту
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Юрій Олійник</strong></h5>
                <p>менеджер проекту</p>
                <div class="fsoci">
                  <a href="https://www.facebook.com/oliyura"><i class="fa fa-facebook"></i></a>
                </div>
                <!-- <a href="#" class="but_small5 light"><i class="fa fa-paper-plane"></i>&nbsp; Read more</a> -->
              </div>
            </div>
          </div>
          <!-- end section -->
          <div class="one_fourth last">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/volodya-min.jpg'%}" alt="">
                <h5><strong>Володимир Кашпоров</strong></h5> менеджер проекту
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Володимир Кашпоров</strong></h5>
                <p>менеджер проекту, юрист</p>
                <div class="fsoci">
                  <a href="https://www.facebook.com/vladimir.kashporov"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- end section -->
          <div class="clearfix margin_top10"></div>
          <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/yevgen1-min.jpg'%}" alt="">
                <h5><strong>Євгеній Поремчук</strong></h5> Програміст, засновник проекту "Розумне місто"
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Євгеній Поремчук</strong></h5>
                <p>Програміст, засновник проекту "Розумне місто"</p>
                <div class="fsoci">
                  <a href="https://www.facebook.com/e.poremchuk"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- end section -->
          <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/venya1-min.jpg'%}" alt="">
                <h5><strong>Веніамін Зіневич</strong></h5> програміст
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Веніамін Зіневич</strong></h5>
                <p>програміст</p>
                <div class="fsoci">
                  <a href="https://www.facebook.com/profile.php?id=100013953572724"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- end section -->
          <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/dima1-min.jpg'%}" alt="">
                <h5><strong>Дмитро Касянчик</strong></h5> Програміст
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Дмитро Касянчик</strong></h5>
                <p>Програміст</p>
                <div class="fsoci">
{#                  <a href="#"><i class="fa fa-facebook"></i></a>#}
{#                  <a href="#"><i class="fa fa-twitter"></i></a>#}
{#                  <a href="#"><i class="fa fa-google-plus"></i></a>#}
{#                  <a href="#"><i class="fa fa-rss"></i></a>#}
                </div>
{#                <a href="#" class="but_small5 light"><i class="fa fa-paper-plane"></i>&nbsp; Read more</a>#}
              </div>
            </div>
          </div>
          <!-- end section -->
          <div class="one_fourth last">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/vika1-min.jpg'%}" alt="">
                <h5><strong>Вікторія Жовтун</strong></h5> тестувальник
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Вікторія Жовтун</strong></h5>
                <p>тестувальник</p>
                <div class="fsoci">
                  <a href="https://www.facebook.com/profile.php?id=100009156064836"><i class="fa fa-facebook"></i></a>
                </div>
{#                <a href="#" class="but_small5 light"><i class="fa fa-paper-plane"></i>&nbsp; Read more</a>#}
              </div>
            </div>
          </div>

          <div class="clearfix margin_top10"></div>

          <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/nadya1-min.jpg'%}" alt="">
                <h5><strong>Надія Язвінська</strong></h5> маркетолог
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Надія Язвінська</strong></h5>
                <p>маркетолог</p>
                <div class="fsoci">
                  <a href="https://www.facebook.com/nadiia.iazvinska"><i class="fa fa-facebook"></i></a>
                </div>
{#                <a href="#" class="but_small5 light"><i class="fa fa-paper-plane"></i>&nbsp; Read more</a>#}
              </div>
            </div>
          </div>
          <!-- end section -->
          <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/new1-min.jpg'%}" alt="">
                <h5><strong>Євген Гнітецький</strong></h5> маркетолог
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Євген Гнітецький</strong></h5>
                <p>маркетолог</p>
                <div class="fsoci">
                  <a href="https://www.facebook.com/profile.php?id=100007893154084"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- end section -->
          <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/andrey1-min.jpg'%}" alt="">
                <h5><strong>Андрій Компанієць</strong></h5>фронт-енд програміст
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Андрій Компанієць</strong></h5>
                <p>фронт-енд програміст</p>
                <div class="fsoci">
                  <a href="https://www.facebook.com/andrey.kompaniets.587"><i class="fa fa-facebook"></i></a>
                </div>
                <!-- <a href="#" class="but_small5 light"><i class="fa fa-paper-plane"></i>&nbsp; Read more</a> -->
              </div>
            </div>
          </div>
          <!-- end section -->
          <div class="one_fourth last">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/invisible.jpg'%}" alt="">
                <h5><strong>Армен Цатурян</strong></h5> програміст
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Армен Цатурян</strong></h5>
                <p>програміст</p>
                <div class="fsoci">
                  <a href="https://www.facebook.com/armen.tsaturyan.10"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </div>
          </div>
<div class="clearfix margin_top10"></div>
            <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/new-min.jpg'%}" alt="">
                <h5><strong>Сергій Пономарьов </strong></h5>менеджер
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Сергій Пономарьов</strong></h5>
                <p>менеджер</p>
                <div class="fsoci">

                </div>
                <!-- <a href="#" class="but_small5 light"><i class="fa fa-paper-plane"></i>&nbsp; Read more</a> -->
              </div>
            </div>
          </div>
          <!-- end section -->

            <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/vasya-min.jpg'%}" alt="">
                <h5><strong>Василь Зачешигрива</strong></h5>програміст
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Василь Зачешигрива</strong></h5>
                <p>програміст</p>
                <div class="fsoci">

                </div>
                <!-- <a href="#" class="but_small5 light"><i class="fa fa-paper-plane"></i>&nbsp; Read more</a> -->
              </div>
            </div>
          </div>
          <!-- end section -->

            <div class="one_fourth">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/slava-min.jpg'%}" alt="">
                <h5><strong>В'ячеслав Кочергін </strong></h5>тестувальник
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>В'ячеслав Кочергін</strong></h5>
                <p>тестувальник</p>
                <div class="fsoci">
                    <a href="https://www.facebook.com/namesakeakzet?fref=pb&hc_location=profile_browser"><i class="fa fa-facebook"></i></a>
                </div>
                <!-- <a href="#" class="but_small5 light"><i class="fa fa-paper-plane"></i>&nbsp; Read more</a> -->
              </div>
            </div>
          </div>
          <!-- end section -->

            <div class="one_fourth last">
            <div class="flips1">
              <div class="flips1_front flipscont1">
                <img src="{% static 'new-version/images/crew/dasha1-min.jpg'%}" alt="">
                <h5><strong>Даша Ткач</strong></h5> помічник керівника
              </div>
              <div class="flips1_back flipscont1">
                <h5 class="white"><strong>Даша Ткач</strong></h5>
                <p>помічник керівника</p>
                <div class="fsoci">
                  <a href="https://www.facebook.com/DaryaTkach"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end content area -->
    <div class="clearfix"></div>

{% endblock %}
{% block footerjs %}
{% endblock footerjs %}