*.pyc
mysqldb.conf
weunion/settings.py
Thumbs.db
*.log
*.dll
*.lib
*.exe
.idea
/static/django_cache
media/defects
media/defects/comments
media/news
media/polls
media/petitions
__pycache__

medicines/
static/img/petitions_banner.jpg
