{% extends 'base.html' %}

{% block title %}
    Видалити інвестиційни об'єкт. Система "Розумне місто".
{% endblock title %}

{% block content %}

    <div class="box">
        <div class="box-body">
            <div class="box">
                <div class="box-header with-border">
                    {% block question %}
                    <h4> Видалити проект: {{ object.name }} ?</h4>
                    {% endblock question %}
                </div>
                <div class="box-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="col-md-5 col-md-offset-1">
                            <input class="btn btn-success btn-block btn-fill" type="submit" value="Так">
                        </div>
                    </form>
                    <div class="col-md-5">
                        <a class="btn btn-fill btn-block btn-warning"
                           href="{% url 'investmap:detail' object.town.slug object.id %}">Ні</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}