{% extends 'base.html' %}

{% load static %}

{% block title %}
    Редагувати вкладку. Система "Розумне місто".
{% endblock title %}

{% block content %}
    <div class="content">
    <div class="box">
        <div class="box-body">
            <form method="post" action="">
                {% csrf_token %}
                {% for field in form.fields %}
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.description }}
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-10 col-md-offset-1">
                    <input class="btn btn-block btn-success" type="submit" value="Зберегти"/>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock content %}

{% block footerjs %}
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock footerjs %}
