{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block head_top %}<meta http-equiv="refresh" content="6;url=/">{% endblock %}

{% block content %}
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

                <h1>Ви підтвердили свою електронну адресу</h1>

                <p>
                    Дякуємо за реєстрацію. Зробіть звоє місто ще більш ефективним.
                        Проголосуте за звернення до влади за розширення функцій вашого міста.
                </p>

            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->


{% endblock %}
