{% extends 'base.html'|pjax:request %}

{% load i18n %}
{% block head_title %}Змінити пароль{% endblock %}


{% block content %}
        <section class="content-header">
            <h1> {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %} </h1>
        </section>

        <section class="content">

                <div class=" box box-body">
                    <div class="col-md-12">

                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action=".">
                                {% csrf_token %}
                                <h4> Новий пароль: </h4>
                                {{ form.password1 }}
                                <br/>
                                <h4> Підтвердження нового пароля:</h4>
                                {{ form.password2 }}
                                <br/>
                                <input class="btn btn-primary btn-block" type="submit" name="action" value="{% trans 'Change password' %}"/>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}

                </div>
        </div>

    </section>
{% endblock %}
