{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}.  Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
    <section class="content-header">
        <h1> Відновити пароль</h1>
    </section>

       <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p> <strong> Забули пароль? Введіть Вашу e-mail адресу у поле і ми надішлемо Вам e-mail, що дозволить відновити пароль.</strong></p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        <h4>Введіть адресу своєї електронної пошти:</h4>
        {% csrf_token %}
        {{ form }}
        <br />
        <input class="btn btn-info btn-block" type="submit" value="Відновити мій пароль" />
    </form>

    <br/>
    <p class="text-muted">*Будь ласка, <a href="/contacts"> зв'яжіться з нами </a>, якщо у Вас виникли проблеми по відновленню паролю.</p>
    </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}
