{% extends "first_page.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="inner">
           <section class="content">
           <div class="container">
           <div class="row">

          <!-- Default box -->
          <!-- Default box -->
          <div class="box">
            <div class="box-body">
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

    </div><!-- /.box-body -->
            </div>
          </div><!-- /.box -->
        </div>
        </section><!-- /.content -->
    </div>
{% endblock %}
{% block footerjs %}
{% endblock footerjs %}