{% extends 'first_page.html' %}

{% block content %}
    <div class="wrap">
        <div class="inner">
        <section id="meta" class="section-block">
       <div class="container">
           <div class="row" style="padding: 100px">
               <h4>Дякуємо за Вашу громадянську активність.</h4>
               <p>
                Ви отримали листа на вказаний мейл. Для завершення реєстрації* перейдіть за посиланням у листі.
               </p>
               <small>*підтвердження електронної пошти дає змогу брати активну участь у житті міста, таку як: створення новин міста, створення опитувань та участь в них, тощо.</small>
           </div>
       </div>
                    </section>
            </div>
        </div>

{% endblock %}
{% block footerjs %}
{% endblock footerjs %}