{% extends 'base.html'|pjax:request %}
{% block title %}Помилка серверу{% endblock %}

{% block content %}
          <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

    <h1>Помилка 500</h1>
<h3>Внутрішня помилка серверу</h3>
<h4>Зверніться будь ласка до адміністратора по електропошті: office@cityfuture.org.ua</h4>

            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}