{% extends 'base.html'|pjax:request %}
{% load static %}
{% block title %}Про децентралізацію в Україні. Інформаційна система "Розумне місто".  {% endblock %}

{% block content %}
        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

<h2 class="text-center">"Розумне місто" - ІТ-платформа, що реалізує право на електронну демократію для активних громад України</h2>
<div class="col-md-12">
                <blockquote class="pull-right">
                <p>Реформа місцевого самоврядування, це - децентралізація, електронні сервіси та боротьба з корупцією.</p>
                <small><a href="https://www.facebook.com/profile.php?id=100000696861094" target="_blank"> Ігор Куц</a>, тренер <a href="http://despro.org.ua/">DESPRO</a> з питаннь децентралізації</small>
              </blockquote>
</div>


                <p><i class="fa fa-external-link"></i> Державний портал про децентралізацію - <a href="http://decentralization.gov.ua/" target="_blank">www.decentralization.gov.ua</a></p>
                <p>
<strong>Децентралізація</strong> – це процес передачі частини функцій та повноважень центральних органів влади органам місцевого самоврядування, тобто процес розширення та зміцнення прав і повноважень територіальних громад з одночасним звуженням прав і повноважень відповідного центру.
Децентралізована влада:
                <ol>
<li>сприяє участі громадян в управлінні державою;</li>
 <li>є відповідальнішою, швидше відгукується на потреби громадян і може знайти найприйнятніший для них розв’язок проблем;</li>
<li>створює умови для формування нової еліти;</li>
<li>є противагою авторитарній державі;</li>
<li>дає можливість проводити експерименти з новими структурами та запровадженням нових політик;</li>
<li>найефективніше надає послуги на місцевому рівні;</li>
<li>формує у громадян відчуття місця і спільноти;</li>
<li>є елементом громадянського суспільства, своєрідним мостом між громадянським суспільством і центром публічного управління.</li>
</ol></p>
<p><strong>Адміністративним центром об’єднаної територіальної громади</strong> визначається населений пункт (село, селище, місто), який має розвинуту інфраструктуру і, як правило, розташований найближче до географічного центру території об’єднаної те­риторіальної громади.
Найменування об’єднаної територіальної грома­ди, як правило, є похідним від найменування населеного пункту, визначеного її адміністративним центром.</p>
  <p><strong>Процедура об’єднання:</strong> Ініціатива про добровільне об’єднання територіальних громад сіл, селищ, міст надходить від однієї з територіальних громад. Алгоритм дій під час об’єднання територіальних громад наведено нище:</p>

<img src="{% static 'img/decentralization/decentralization_algoritm.jpg' %}" width="920px">
                <h3>Що змінить розподіл влади?</h3>
                <img src="{% static 'img/decentralization/what_changes.jpg' %}" width="920px">
                <h3>Префект. Хто він для місцевого самоврядування?</h3>
                <img src="{% static 'img/decentralization/original-perfektedit.jpg' %}" width="920px">
                <h3>Звідки громада буде брати гроші?</h3>
                <img src="{% static 'img/decentralization/where_get_money.jpg' %}" width="920px">
                <h3>Переваги створення об'єднанних територіальних громад</h3>
                <img src="{% static 'img/decentralization/decentralization_perevagi.jpg' %}" class="text-center">
            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}