{% extends 'base.html' %}

{% block title %}{% if doc.title %}{{ doc.title }}{% endif %}. Інформаційна система "Розумне місто". {% endblock %}



{% block content %}

    {% if doc.title %}
    <section class="content-header">
      <h1>{{ doc.title }}</h1>

    </section>
{% endif %}
            <!-- Main content -->
        <section class="content">

        {% if doc.description %}
<div class="box">

            <div class="box-body">

                {% autoescape off %}{{ doc.description }}{% endautoescape %}
            </div>
</div>
        {% endif %}

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

{% autoescape off %}{{ doc.body }}{% endautoescape %}


            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}

