{% extends 'base.html'|pjax:request %}
{% load static %}
{% block title %}Допомога. Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
            <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

<h2>Сторінка допомоги</h2>

<h3>Реєстрація в системі</h3>
              Натисніть на посилання «Реєстрація» у верхньому правому кутку порталу.<br/><br/>
                <img src="{%  static 'img/help/reg-1.jpg' %}" style="max-width:100%"><br /><br />
                Заповніть форму реєстрації своїми реальними даними та натисніть кнопку «Зареєструватися».<br/><br/>
                 <img src="{%  static 'img/help/reg-3.jpg' %}" style="max-width:100%"><br /><br />
                Тепер Ви знаходитесь на порталі під своїм ім’ям та у місті, вказаному при реєстрації. Однак поки Ви не
                підтвердите e-mail
                адресу, Ви не
                зможете додавати петиції та дефекти, а також не зможете голосувати та залишати коментарі.<br/><br/>
                <img src="{%  static 'img/help/reg-2.jpg' %}" style="max-width:100%"><br /><br />
                <h3>Вибір міста</h3>
 	Після реєстрації, система автоматично показує місто, яке було вказано Вами при реєстрації. Якщо Ви хочете змінити місто, необхідно натиснути «Виберіть розумне місто» у верхній частині порталу.<br/>
                     <img src="{%  static 'img/help/chos-1.jpg' %}" style="max-width:100%"><br /><br />
                Оберіть на мапі область<br/>
                     <img src="{%  static 'img/help/chos-2.jpg' %}" style="max-width:100%"><br /><br />
 	У таблиці оберіть необхідне місто.<br/>
     <img src="{%  static 'img/help/chos-3.jpg' %}" style="max-width:100%"><br /><br />
<h3>Веб-сервіси</h3>
Якщо Вам необхідна допомога по роботі з нашими сервісами, то оберіть пункт меню «Допомога» у випадаючому меню сервісу, з яким виникли труднощі.
                <br/><br />
                     <img src="{%  static 'img/help/help-1.jpg' %}" style="max-width:100%"><br /><br />


                <div class="text-center"><h1><a name='karma'>Що таке карма і як за що вона дається?</a></h1></div>

<p><strong>Що таке карма?</strong></p>
<p>Карма (рейтинг) – це показник Вашої соціальної активності на веб-порталі «Розумне місто».

    Він розраховується в залежності від Ваших дій і може бути як позитивний, так і негативний.</p>
<p>Вашу карму можна побачити або на сторінці користувача, або в верній частиці веб-порталу біля Вашого прізвища.</p>
<img src="{%  static 'img/karma/karma-1.jpg' %}" style="max-width:100%"><br /><br />


                <p><strong>Як нараховується карма?</strong></p>
                <div style="width: 450px">
                <table class="table table-striped">
                <tbody >
                <tr>

                  <td >Ваша петиція пройшла модерацію</td>
                  <td >+10</td>

                </tr>
                <tr>
                  <td>Проголосували за петицію</td>
                  <td>+1</td>
                </tr>
                <tr>
                   <td>Зняли голос з петиції </td>
                  <td>-1</td>
                </tr>
                <tr>
                   <td>Ваша петиція набрала необхідну кількість голосів </td>
                  <td>+30</td>
                </tr>
                <tr>
                   <td>Ваша заявка з дефектом чи проблемою пройшла модерацію </td>
                  <td>+5</td>
                </tr>
                <tr>
                   <td>Залишили коментар в заявці</td>
                  <td>+1</td>
                </tr>
                <tr>
                  <td>Ваш коментар заблоковано</td>
                  <td>-5</td>
                </tr>
              </tbody></table>
</div>
                    <br /><br />
                 <p><strong>Де побачити нарахування карми?</strong></p>
<p>Карма користувачам нараховується автоматично в залежності від його дій на веб-порталі «Розумне місто». Для того, щоб побачити, за що саме Вам було зараховано чи знято «кармічні бали», натисніть на посилання «Докладно по нарахуванням» на банері з відображенням Вашої карми. <p>
<img src="{%  static 'img/karma/karma-2.jpg' %}" style="max-width:100%"><br /><br />

<p>Всі зарахування (зняття) карми відображені в Списку транзакцій по системній кармі.</p>
<img src="{%  static 'img/karma/karma-3.jpg' %}" style="max-width:100%"><br /><br />


            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->


{% endblock %}