{% extends 'base.html'|pjax:request %}
{% load staticfiles %}
{% block title %}Приєднатися до проекту! Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">


                <iframe src="https://www.google.com/maps/d/embed?mid=1FOTfR9KyCF89UXkfmdxppMt_YKw" width="960" height="680"></iframe>

            </div><!-- /.box-body -->
        </div>


        </section><!-- /.content -->

{% endblock %}