
<li class="header">Інструменти для м.{town_name}: </li>

        <li >
             <a href="/{town_slug}/home">
                <i class="fa fa-dashboard"></i> <span>Головна сторінка міста</span>
                <i class="fa fa-angle-left pull-right"></i>
             </a>
            <ul class="treeview-menu">
                {moders}
            <li >
                <a href="/{town_slug}/rating">
                    <i class="fa  fa-line-chart"></i> <span>Рейтинг користувачів</span>
                </a>
            </li>


            </ul>
        </li>

        {modules}

        {additional_items}

        <li>
          <a href="http://rozumneosbb.org" target="_blank">
            <i class="fa fa-building"></i><span>Розумне ОСББ</span>
          </a>
        </li>




</ul>