<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Згода на обробку персональних даних</title>
    <h1 style="color:darkgreen; text-align: center"> Згода на обробку персональних даних </h1>
</head>
<body>
    <ol>
        <li> Заповненням та реєстрацією свого облікового запису в системі децентралізованого електронного аукціону (далі - Система), я даю однозначну згоду на обробку моїх персональних даних, в обсязі внесеному мною при реєстрації облікового запису в Системі, для їх розповсюдження та/або оприлюднення в Системі, наслідком чого є надання доступу та можливості їх обробки операторам електронних торговельних майданчиків Системи та третім особам, а також можливості збирати, зберігати та відображати їх у режимі реального часу, безперервно та безкоштовно у відкритому доступі для необмеженого кола осіб в Системі та мережі Інтернет.</li>
        <li> Усі документи, відомості, інформація, персональні дані, зареєстровані в Системі, оброблюються (у тому числі зберігаються) з метою забезпечення повноцінного функціонування електронних торговельних майданчиків та Системи, а також для забезпечення та задоволення потреб інших суб’єктів відносин, пов’язаних з проведенням електронного аукціону, відповідно до норм чинного законодавства України, що регулює правовідносини у цій сфері.</li>
        <li> Я підтверджую достовірність внесеної мною інформації для реєстрації мого облікового запису в Системі та зобов’язуюсь у випадку зміни моїх персональних даних вносити відповідні зміни у власний обліковий запис при подальшому використанні Системи.</li>
        <li> Я визнаю, що в разі недбалого ставлення мною до захисту моїх персональних даних, а також логіну і паролю, треті особи можуть отримати несанкціонований доступ мого облікового запису в Системі. Оператор не несе відповідальності за збитки, завдані мені у результаті такого несанкціонованого доступу.</li>
        <li> При реєстрації для участі в обраному електронному аукціоні я погоджуюсь, що ознайомився з інформацією про лот, істотними умовами договору, визначеними організатором в інформації про лот, у тому числі зі стартовою ціною лоту, у випадку наявності - строком оренди, погоджуюсь з умовами проведення обраного електронного аукціону, зобов’язуюсь їх виконувати, та підтверджую свою відповідність вимогам, встановлених законом щодо особи, яка може бути покупцем чи орендарем відповідного лоту.</li>
        <li> Я ознайомлений з існуванням своїх прав відповідно до Закону України «<a href="http://zakon3.rada.gov.ua/laws/show/2297-17" target="_blank">Про захист персональних даних</a>», розумію та погоджуюсь, що вищевизначена інформація не може бути видалена із Системи.</li>
    </ol>
</body>
</html>