{% extends 'base.html' %}

{% block title %}Петиції. На зборі підписів. Інформаційна система "Розумне місто".{% endblock %}
{% load staticfiles %}




{% block content %}
              <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">
<!--<img src="/static/img/petitions_banner.jpg" style="max-width: 100%">-->
{% if petitions.object_list %}

    <div class="box">
        <div class="box-header with-border"><h3 class="box-title">Петиції, що збирають голоси:</h3></div>
                <div class="box-body">
                  <table class="table table-bordered table-hover">
                    <tbody><tr bgcolor="#f4f4f4">
                      <th class="table-column" style="width: 65px">Ілюстрація</th>
                      <th style="width: 115px">Номер</th>
                      <th style="min-width: 80px ">Суть звернення</th>
                        <th style="min-width: 55px; width:120px;word-break: break-all;word-wrap:break-word;">Залишилось днів </th>
                      <th style="width: 120px">Підписів</th>
                      <th class="table-column" style="width: 115px">Ваш підпис</th>
                    </tr>

                    {% for petition in petitions.object_list %}

                <tr>
                    <td class="vert-align table-column">
                        {% if petition.image.thumbnail%}
                        <a href="../../petitions/{{ petition.id }}" class="title-petition"><img src="{{ MEDIA_URL }}{{ petition.image.thumbnail }}" width="80px"></a>
                        {% else %}
                        <a href="../../petitions/{{ petition.id }}" class="title-petition"><img src="{{ MEDIA_URL }}/petitions/empty.gif" width="80px"></a>
                        {% endif %}
                    </td>
                  <td class="vert-align"><a href="../../petitions/{{ petition.id }}" class="title-petition">01/{{ petition.id }}-ЕП</a></td>
                  <td class="valign" style="word-break: break-all;word-wrap:break-word;"><a href="../../petitions/{{ petition.id }}" class="title-petition">{{ petition.title|truncatewords:25 }}</a></td>

                {% if petition.days_left <= 10 %}
                    <td class="vert-align"><p style="color:red" class="title-petition">{{ petition.days_left }} </p></td>
                {% else %}
                    <td class="vert-align"><p class="title-petition">{{ petition.days_left }} </p></td>
                {% endif %}
                 <td class="vert-align"><span class="badge bg-green"><a href="../../petitions/{{ petition.id }}" class="title-petition">{{ petition.vote_count }}</a></span><br />
                      <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-success" style="width:{% widthratio petition.petitionsvoices_set.count petition.town.votes 100 %}%"></div>
                    </div>

                  </td>

                  </td>
                    {% if request.user in petition.voters %}
                        <td class="vert-align table-column"><div class=text-center"><a href="../../petitions/{{ petition.id }}" class="title-petition"><span class="label label-success">Пiдписана</span></a></td>
                    {% else %}
                        <td class="vert-align table-column"><div class=text-center"><a href="../../petitions/{{ petition.id }}" class="title-petition"><span class="label label-warning">Не пiдписана</span></a></td>
                    {% endif %}


                </tr>
            {% endfor %}
              </tbody></table>
            </div>

</div>
      {% if petitions.paginator.count > 24 %}
    <div class="col-md-5 col-md-offset-3">
    {{ petitions.render }}
    </div>
{% endif %}
{% else %}
    На жаль, для Вашого міста відкритих петицій поки що немає
{% endif %}
</div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}

