{% extends 'base.html' %}

{% block title %}
    Успішно відправлено. Інформаційна система "Розумне місто".
{% endblock title %}

{% block head_top %}
    <meta http-equiv="refresh" content="3;{% url 'news:list' townslug %}">
{% endblock head_top %}

{% block content %}
    <div class="content">
        <div class="box">
            <div class="box-body">
                <h4>Ви успішно відправили новину!</h4>
                <p>Ваші дані передані модератору на розгляд.</p>
            </div>
        </div>
    </div>
{% endblock content%}